#order-wrapper form { width: 400px; }

#order-wrapper div { margin: 15px 0; }

#order-wrapper h2 { margin-bottom: 15px; }

#name {
  margin-bottom: 15px;
  width: 300px;
}

#address {
  margin-bottom: 15px;
  width: 300px;
}

#zip-code {
  width: 100px;
  margin-bottom: 15px;
}

#credit-num {
  width: 300px;
  margin-bottom: 15px;
}

.expiry-date { margin-bottom: 15px; }

#cvv { width: 80px; }

#history-wrapper {
  margin: auto;
  width: 70%;
}

#contact-wrapper { text-align: center; }

#contact-wrapper h2 { font-size: 3em; }

#contact-wrapper dl {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5em 1em;
}

#contact-wrapper dt { text-align: right; }

#contact-wrapper dt:after { content: ":"; }

#contact-wrapper dd { text-align: left; }

@media only screen and ( min-width: 600px ) {

  #home-wrapper { font-size: 1em; }

  #contact-wrapper dl { font-size: 1.5em; }

  #menu-wrapper {
    padding: 2rem;
    text-align: center;
  }

  #menu-wrapper h1 { font-size: 3rem; }

  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2em 0;
  }

  .menu-category ul { padding: 0; }

  .menu-category li {
    list-style-type: none;
    padding: 0;
  }

}

@media only screen and ( min-width: 750px ) {

  #home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: start;
    gap: 2em;
  }

  #ocean-patio { width: 100%; }

  #harbor-patio {
    order: 4;
    width: 100%;
  }

  #history-wrapper { font-size: 1.5em; }

}

@media only screen and ( min-width: 1000px ) {

  #contact-wrapper dl {
    font-size: 1.5em;
    grid-template-columns: 1fr 1.5fr;
  }

  #menu { justify-content: center; }

}

@media only screen and ( min-width: 1500px ) {

  #home-wrapper { font-size: 1.5em; }

  .menu-category { font-size: 1.5em; }
 
  .menu-category h3 { font-size: 2.5rem; }

  #history-wrapper { padding: 4em; }

}
